<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-md a">
        <fieldset>
          <legend class="text-center">Profiles</legend>
        </fieldset>
        <table>
          <thead>
            <tr>
              <th>User Name</th>
              <th>User Email</th>
              <th>Place</th>
              <th>Phone Number</th>
              <th>Degree1 Percentage</th>
              <th>Degree1 College</th>
              <th>Degree1 Branch</th>
              <th>Degree2 Percentage</th>
              <th>Degree2 college</th>
              <th>Degree2 Branch</th>
              <th>Twelvth Percentage</th>
              <th>Twelvth College</th>
              <th>Twelvth Place</th>
              <th>Tenth Percentage</th>
              <th>Tenth College</th>
              <th>Tenth Place</th>
              <th>Technical Skills</th>
              <th>Nontechnical Skills</th>
              <th>Analytical Skills</th>
              <th>Projects</th>
              <th>Courses taken</th>
              <th>Good at</th>
              <th>Dream Job</th>
              <th>Awards</th>
              <th>Internship</th>
            </tr>
          </thead>

          <tbody>
            <% @profiles.each do |profile| %>
              <tr>
                <% @user = User.find_by(id: profile.user_id) %>
                <% @email = Email.find_by(email: @user.email) %>
                <td><%= @email.user_name %></td>
                <td><%= @email.email %></td>
                <td><%= profile.place %></td>
                <td><%= profile.phonenumber %></td>
                <td><%= profile.degree1p %></td>
                <td><%= profile.degree1c %></td>
                <td><%= profile.degree1branch %></td>
                <td><%= profile.degree2p %></td>
                <td><%= profile.degree2c %></td>
                <td><%= profile.degree2branch %></td>
                <td><%= profile.twelvep %></td>
                <td><%= profile.twelvec %></td>
                <td><%= profile.twelveplace %></td>
                <td><%= profile.tenthp %></td>
                <td><%= profile.tenthc %></td>
                <td><%= profile.tenths %></td>
                <td><%= profile.technicalskills %></td>
                <td><%= profile.nontechnicalskills %></td>
                <td><%= profile.analyticalskills %></td>
                <td><%= profile.projects %></td>
                <td><%= profile.coursestaken %></td>
                <td><%= profile.goodat %></td>
                <td><%= profile.dreamjob %></td>
                <td><%= profile.awards %></td>
                <td><%= profile.internship %></td>
                <!--td><%= link_to 'Show', profile %></td>
                <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
                <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
