<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well well-md">
        <fieldset>
          <div class="col-md-7 col-md-offset-2 col-xs-7 col-xs-offset-2"><legend class="text-center"><strong>My Profile</strong></legend></div>
          <%= link_to edit_profile_path(@profile) do %>
            <div class="col-xs-1 col-md-1"><i class="material-icons">mode_edit</i></div>
          <% end -%>
          <br><br><br>
          <div class="row">
            <div class="col-md-4"><strong>Place:</strong></div>
            <div class="col-md-8"><%= @profile.place %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Phonenumber:</strong></div>
            <div class="col-md-8"><%= @profile.phonenumber %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Degree1p:</strong></div>
            <div class="col-md-8"><%= @profile.degree1p %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Degree1c:</strong></div>
            <div class="col-md-8"><%= @profile.degree1c %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Degree1Branch:</strong></div>
            <div class="col-md-8"><%= @profile.degree1branch %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Degree2p:</strong></div>
            <div class="col-md-8"><%= @profile.degree2p %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Degree2c:</strong></div>
            <div class="col-md-8"><%= @profile.degree2c %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Degree2Branch:</strong></div>
            <div class="col-md-8"><%= @profile.degree2branch %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Twelvep:</strong></div>
            <div class="col-md-8"><%= @profile.twelvep %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Twelvec:</strong></div>
            <div class="col-md-8"><%= @profile.twelvec %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>TwelvePlace:</strong></div>
            <div class="col-md-8"><%= @profile.twelveplace %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Tenthp:</strong></div>
            <div class="col-md-8"><%= @profile.tenthp %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Tenthc:</strong></div>
            <div class="col-md-8"><%= @profile.tenthc %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Tenthschool:</strong></div>
            <div class="col-md-8"><%= @profile.tenths %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Technicalskills:</strong></div>
            <div class="col-md-8"><%= @profile.technicalskills %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Nontechnicalskills:</strong></div>
            <div class="col-md-8"><%= @profile.nontechnicalskills %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Analyticalskills:</strong></div>
            <div class="col-md-8"><%= @profile.analyticalskills %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Projects:</strong></div>
            <div class="col-md-8"><%= @profile.projects %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Coursestaken:</strong></div>
            <div class="col-md-8"><%= @profile.coursestaken %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Goodat:</strong></div>
            <div class="col-md-8"><%= @profile.goodat %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Dreamjob:</strong></div>
            <div class="col-md-8"><%= @profile.dreamjob %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Awards:</strong></div>
            <div class="col-md-8"><%= @profile.awards %></div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><strong>Internship:</strong></div>
            <div class="col-md-8"><%= @profile.internship %></div>
          </div><br>
            <% @user = User.find_by(id: @profile.user_id) %>
            <% @email = Email.find_by(email: @user.email) %>
          <div class="row">
            <div class="col-md-4"><strong>User Name:</strong></div>
            <div class="col-md-8"><%= @email.user_name %></div>
          </div><br>
          <div class="row">
            <div class="col-md-4"><strong>Email:</strong></div>
            <%= @email.email %>
          </div><br>
        </fieldset>
      </div>
    </div>
  </div>
</div>