
<section>    
    <div class="container feedback">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="text-ques-content">We thank you for giving us the opportunity to serve you. <br>Please help us serve you better by providing valuable feedback</div>
        </div>
    </div><br><br>
    <div class="row">
    <div class="col-md-offset-2 col-md-8">
    <%= form_tag( 'home/submitfeedback' , method: :post , multipart: true ) do -%>
        <div class="row">
            <div class="div-ques">
              <div class="text-ques-content">This training program was useful for you</div>
              <div class="text-ques-content">
                <%= radio_button_tag 'f1', 'Agree' %>
                <%= label_tag 'f1' , 'Agree' %>
                <%= radio_button_tag 'f1', 'Neutral' %>
                <%= label_tag 'f1' , 'Neutral' %>
                <%= radio_button_tag 'f1', 'Disagree' %>
                <%= label_tag 'f1' , 'Disagree' %>
              </div><br>
              <div class="text-ques-content">It was easy to follow the training instructions</div>
              <div class="text-ques-content">
                <%= radio_button_tag 'f2', 'Strongly Agree' %>
                <%= label_tag 'f2' , 'Strongly Agree' %>
                <%= radio_button_tag 'f2', 'Agree' %>
                <%= label_tag 'f2' , 'Agree' %>
                <%= radio_button_tag 'f2', 'Neutral' %>
                <%= label_tag 'f2' , 'Neutral' %>
                <%= radio_button_tag 'f2', 'Disagree' %>
                <%= label_tag 'f2' , 'Disagree' %>
              </div><br>
              <div class="text-ques-content">Content and Language in which the instructor communicated to you was understandable</div>
              <div class="text-ques-content">
                <%= radio_button_tag 'f3', 'Yes' %>
                <%= label_tag 'f3' , 'Yes' %>
                <%= radio_button_tag 'f3', 'No' %>
                <%= label_tag 'f3' , 'No' %>
              </div><br>
              <div class="text-ques-content">The training program was organized in an effective manner</div>
              <div class="text-ques-content">
                <%= radio_button_tag 'f4', 'Yes' %>
                <%= label_tag 'f4' , 'Yes' %>
                <%= radio_button_tag 'f4', 'No' %>
                <%= label_tag 'f4' , 'No' %>
                <%= radio_button_tag 'f4', 'Could have been better' %>
                <%= label_tag 'f4' , 'Could have been better' %>
              </div><br>
              <div class="text-ques-content">In the future, would you attend another program suitable for you, organized by us ?</div>
              <div class="text-ques-content">
                <%= radio_button_tag 'f5', 'Yes' %>
                <%= label_tag 'f5' , 'Yes' %>
                <%= radio_button_tag 'f5', 'No' %>
                <%= label_tag 'f5' , 'No' %>
                <%= radio_button_tag 'f5', 'May be' %>
                <%= label_tag 'f5' , 'May be' %>
              </div><br>
            </div>
        </div>
        <div class="row">
            <div class="div-ques">
              <div class="text-ques-content">Please write your comments here!</div>
              <textarea name="comment" rows="5" style="width: 300px"></textarea>
              <div class="text-ques-content"><%= submit_tag 'Submit Feedback' , class: "btn btn-success" %></div>
              <div class="text-ques-content"> Thank you </div>
            </div>
        </div>
    <% end -%>
    </div>
    </div>
    </div>
</section>
