<section class="section">
  <div class="container">
    <div class="row div-ques">
      <div class="col-md-2">This training program was useful for you</div>
      <div class="col-md-2">It was easy to follow the training instructions</div>
      <div class="col-md-2">Content and Language in which the instructor communicated to you was understandable</div>
      <div class="col-md-2">The training program was organized in an effective manner</div>
      <div class="col-md-2">In the future, would you attend another program suitable for you, organized by us ?</div>
    </div><br>
    <% @feedbacks.each do |f| %>
    <div class="row div-ques">
      <div class="col-md-2"><%= f.f1 %></div>
      <div class="col-md-2"><%= f.f2 %></div>
      <div class="col-md-2"><%= f.f3 %></div>
      <div class="col-md-2"><%= f.f4 %></div>
      <div class="col-md-2"><%= f.f5 %></div>
    </div><br>
    <div class="row">
      <div class="col-md-2">Comment: </div>
      <div class="col-md-10"><%= f.comment %></div>
    </div><br>
    <% end %>
  </div>
</section>