<!DOCTYPE html>
<html>
  <head>
    <title>Aspire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render partial: 'layouts/header' %>
  <% if notice %>
  <section>    
    <div class="container feedback">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <p class="notice" style="margin-top: 52px"><%= notice %></p>
        </div>
    </div>
    </div>
  </section>
  <% end %>
  <% if alert %>
  <section>    
    <div class="container feedback">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
        <p class="alert" style="margin-top: 52px"><%= alert %></p>
        </div>
    </div>
    </div>
  </section>
  <% end %>
    <%= yield %>
  </body>
</html>
